In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
SES_file = "Resources/GLOB.SES.csv"

In [3]:
SES_df = pd.read_csv(SES_file)
new_header = SES_df.iloc[0] 
new_SES_df = SES_df[1:] 
new_SES_df.columns = new_header

In [5]:
new_SES_df = new_SES_df.drop(columns=['unid','yrseduc'])

KeyError: "['unid' 'yrseduc'] not found in axis"

In [9]:
SES_2000 = new_SES_df.loc[new_SES_df["year"] == "2000", :]
SES_2010 = new_SES_df.loc[new_SES_df["year"] == "2010", :]
SES_2010

0    wbid               country  year        SES      gdppc       popshare
6     AFG           Afghanistan  2010  5.6763997  1662.8035   0.0041496116
15    AGO                Angola  2010  21.247763  6492.1768   0.0031490561
38    ALB               Albania  2010  74.860367  9927.1758  0.00043229439
50    ARE  United Arab Emirates  2010  89.092285  57406.738   0.0012360967
61    ARG             Argentina  2010  79.750809   18794.27   0.0061175041
...   ...                   ...   ...        ...        ...            ...
2028  VNM               Vietnam  2010  38.222027  4486.2612    0.012900844
2032  YEM                 Yemen  2010  19.492294  4481.5547   0.0035010653
2046  ZAF          South Africa  2010  71.227959  12028.934   0.0075345747
2060  ZMB                Zambia  2010   27.12714  3263.3948   0.0020653578
2083  ZWE              Zimbabwe  2010  27.091389   1388.973   0.0020737362

[149 rows x 6 columns]

In [10]:
SES_2000.columns = ['wbid','country','year','ses_2000','gdppc_2000','popshare_2000']
SES_2000 = SES_2000.set_index('country')
SES_2000.drop(columns='year',inplace=True)
SES_2000

                     wbid   ses_2000 gdppc_2000  popshare_2000
country
Afghanistan           AFG  2.0611143        565   0.0033088236
Angola                AGO  29.470123       3831   0.0025290088
Albania               ALB  72.464691  5470.0176  0.00051878369
United Arab Emirates  ARE  88.567055  107206.46  0.00051225087
Argentina             ARG  80.109383  14924.374   0.0062235785
...                   ...        ...        ...            ...
Vietnam               VNM  32.007206  2649.7195    0.013037647
Yemen                 YEM  29.746004  3911.2197   0.0029886013
South Africa          ZAF   71.87336  9717.6484   0.0073895385
Zambia                ZMB  26.488094  2092.2551   0.0017777247
Zimbabwe              ZWE  38.874393  2521.3474   0.0020992975

[149 rows x 4 columns]

In [11]:
SES_2010.columns = ['wbid','country','year','ses_2010','gdppc_2010','popshare_2010']
SES_2010 = SES_2010.set_index('country')
SES_2010.drop(columns='year',inplace=True)
SES_2010

                     wbid   ses_2010 gdppc_2010  popshare_2010
country
Afghanistan           AFG  5.6763997  1662.8035   0.0041496116
Angola                AGO  21.247763  6492.1768   0.0031490561
Albania               ALB  74.860367  9927.1758  0.00043229439
United Arab Emirates  ARE  89.092285  57406.738   0.0012360967
Argentina             ARG  79.750809   18794.27   0.0061175041
...                   ...        ...        ...            ...
Vietnam               VNM  38.222027  4486.2612    0.012900844
Yemen                 YEM  19.492294  4481.5547   0.0035010653
South Africa          ZAF  71.227959  12028.934   0.0075345747
Zambia                ZMB   27.12714  3263.3948   0.0020653578
Zimbabwe              ZWE  27.091389   1388.973   0.0020737362

[149 rows x 4 columns]

In [8]:
import getpass
password = getpass.getpass()

········

In [9]:
rds_connection_string = f"postgres:{password}@localhost:5433/ETL_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [10]:
engine.table_names()

['ses_2000', 'ses_2010']

In [ ]:
SES_2000.to_sql(name='ses_2000', con=engine, if_exists='append', index=True)
SES_2010.to_sql(name='ses_2010', con=engine, if_exists='append', index=True)

In [ ]:
pd.read_sql_query('select * from SES_2000', con=engine)

In [ ]:
pd.read_sql_query('select * from SES_2010', con=engine)